<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.Jobcard" android:installLocation="auto">
	<uses-sdk />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Jobcard.Android" android:icon="@drawable/icon"></application>
</manifest>